@tailwind base;
@tailwind components;
@tailwind utilities;

.main-masonry-grid-column {
  background-clip: padding-box;
}

/* Style your items */
.main-masonry-grid-column > div {
  margin-bottom: 32px;
}

.main-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* {
  font-family: Inter, sans-serif;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background: #c2c2c2;
}